body{
  margin:0;
  overflow:auto;
  overflow-x:hidden;
  
  }
  .overview {
    background-color:#e7e7e7;
    width:1357px;
    height:260px;
    
  }
  
  .container {
    background-color:fff;
    width:999px;
    height:802px;
    position:absolute;
    left:357px;
    top:260px;
    padding-left:20px;
    padding-top:10px;
    max-width: 850px;
    max-height: 750px;
  }

.left {
  background-color: #333;
  width:350px;
height:802px;
padding-left:20px;
padding-top:10px;
}

.footer{
  background-color:#e7e7e7;
  width:1357px;
height:110px;

}

.icon2 {
  width:20px;
  height:20px;
}

.year {
  position:absolute;
  left: 650px;
 top:1040px;
  font-size: 50px;
  
}

.myphoto{
  position:absolute;
  left:1000px; 
}
.name{
  font-family: Comic Sans MS, Comic Sans, cursive;
  color:#333;
    font-style: normal;
    font-weight: 600px;
    font-size: 80px;
    
    position:absolute;
    left:300px;
}

.proff{
  font-family:DejaVu Sans Mono, monospace;
  color:rgb(26, 26, 26);
  position:absolute;
    left:500px;
    top:150px;
}

.linename {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  padding-left:20px;
  color:#333;
}
.linename:hover {
  color: #000000; /* Цвет ссылки при наведении */ 
  text-decoration: none; /* Добавляем подчёркивание */
 }

.linename2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  padding-left:20px;
  color:#bbbe13;
}
.linename2:hover {
  color: #fbff07; /* Цвет ссылки при наведении */ 
  text-decoration: none; /* Добавляем подчёркивание */
 }

.text {
  font-family: Arial, sans-serif;
  font-size: 19px;
}

.text2 {
  font-family: Arial, sans-serif;
  font-size: 19px;
  color:#e7e7e7;
}

.icon2 {
  position:absolute;
    left:1200px;
}


.mail{
    color: #e7e7e7; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчёркивание у ссылок */
   }
  
   .mail:hover {
    color: #fb3605; /* Цвет ссылки при наведении */ 
    text-decoration: underline; /* Добавляем подчёркивание */
   }
   .ground{
     background-color:rgb(233, 223, 223);
     width:300px;
   }