html {
  background: rgb(86, 103, 139);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Trattatello", sans-serif;
  font-size: 20px;
  color: rgb(250, 250, 250);
}
body {
  background-color: rgb(86, 103, 139) ff;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

header {
  display: flex;
  background-color: rgb(86, 103, 139);
}

.profile_photo {
  width: 300px;
}

.resume_name {
  position: relative;
  flex-grow: 1;
  align-self: center;
  text-align: center;
  animation: running-header 1s ease-out;
}

@keyframes running-header {
  from {
    left: -600px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.lang_lvl {
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang_lvl > div {
  font-size: 1.6rem;
}

.resume_name h1,
h2 {
  font-family: "Questrial", sans-serif;
  color: rgb(245, 208, 43);
}

.resume_name > h1 {
  font-size: 90px;
}

.resume_name > h2 {
  font-size: 35px;
}

main {
  display: flex;
}

.resume_main {
  flex-grow: 1;
  padding: 10px 30px 60px;
  background-color: rgb(32, 40, 41);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.about-me {
  margin: 15px 0;
}

.about-me > p {
  margin: 10px 0;
}
.section_one {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 10px 0;
  padding: 20px 0;
  color: rgb(7, 37, 6);
  border-bottom: 2px solid rgb(253, 253, 253);
}
.section_one > h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 5px 0;
}

.list {
  margin: 15px 0;
}
.list > p {
  margin: 10px 0;
  list-style: none;
}

aside {
  min-width: 240px;
  padding: 10px 30px 60px;
  border-top-right-radius: 3px;
  background-color: #000;
}

.aside-list > li {
  margin: 15px 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.contacts-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  text-align: right;
}

.contacts-list > li > i {
  position: relative;
  top: 3px;
}

.discord-icon {
  left: 1px;
}

.skills-list {
  font-weight: bold;
}

.scale {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  background-color: rgb(224, 81, 105);
}

.scale span {
  display: block;
  height: 100%;
}

#html-skill {
  width: 50%;
}

#css-skill {
  width: 50%;
}

#js-skill {
  width: 30%;
}

.scale-filling {
  background-color: rgb(241, 119, 6);
  animation: filling 1s ease;
}

@keyframes filling {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(245, 208, 43);
}

.year {
  width: 100px;
  text-align: center;
  font-size: 37px;
  line-height: 37px;
  font-weight: bold;
  color: black;
}

.footer-git > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.footer-git > a > i {
  margin-right: 10px;
  color: black;
  font-size: 50px;
}

.footer-rss > a > img {
  width: 100px;
  position: relative;
  top: 3px;
}
