@font-face {
	font-family: "Forum";
	font-weight: 400;
	url("./assets/fonts/Forum-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 100;
	url("./assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 300;
	url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 900;
	url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

html, body, html * {
	font-family: 'Roboto', sans-serif;
}

body, ul, li, p {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #000;
}

.
{
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #000;
	height: 150px;
}

.header__logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__logo .logo {
	height: 26px;
	width: 49px;
	margin-right: 25px;
}

.header__logo p {
	color: #fff;
	font-family: 'Forum', serif;
	font-size: 28px;
	font-weight: 400;
}

nav ul li {
	display: inline-block;
	margin-right: 55px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	font-family: 'Roboto', serif;
	font-size: 22px;
	font-weight: 100;
	text-decoration: none;
}

section {
	display: flex;
	height: 100vh;
}

.welcome {
  	background-color: black;
}

.welcome .welcome__section {
	position: relative;
	display: flex;
	margin-top: 150px;
	width: 100%;
}

.welcome .welcome__content {
	display: flex;
	margin-top: 150px;
}

.welcome .welcome__heading {
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.welcome .welcome__heading h1 {
	color: #fff;
	font-family: 'Forum', serif;
	font-weight: 400;
	font-size: 80px;
	line-height: 90px;
	letter-spacing: 5px;
}

.welcome .welcome__heading p {
	color: #fff;
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
	margin-top: 25px;
}

.welcome .welcome__image {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.welcome .welcome__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 75px;
	background-color: #710707;
	color: #fff;
	font-family: 'Roboto', serif;
	font-size: 22px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 75px;
}
/*Секция 2*/
.virtual-tour {
  padding-top: 74px;
  padding-bottom: 265px;
}

.wrapper-ful{
		max-width: 1440px;
		margin: 0 auto;
}

.top__title{
	font-family: 'Forum', serif;
  font-weight: 200;
	font-size: 50px;
  line-height: 75px;
  height: 90px;
  width: 100%;
  color: #9d8665;
  margin-bottom: 103px;
  border-bottom: 3px solid #710707;
}

.top__title ::after{
	content: "";
  position: absolute;
  background-color: #710707;
  height: 3px;
  width: 1440px;
  display: block;
  margin-top: 25px;
}

.top__cards {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 78px 60px;
}


.top__card-pic{
	margin-bottom: 22px;
}

.top__card{
	height: 422px;
}

.top_card::after{
	content: "";
  position: absolute;
  background-color: #710707;
  height: 2px;
  width: 300px;
  display: block;
  margin-top: -38px;
  transition: 0.5s;
}

 .top__card p{
	font-family: 'Forum', serif;
	font-weight: 200;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	bottom: -32px;
	position: relative;

}

.top__card-name{
	font-size: 28px;
	font-family: 'Forum', serif;
	font-weight: 200;
	text-transform: uppercase;
}
hr{
	margin-top:10px;
}

 .top__card-desc{
	font-family: 'Roboto',serif;
	font-weight: 200;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	margin-bottom: 10px;
	position: relative;
	bottom: -22px;
}

 .top__card-google{
	font-family: 'Roboto',serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.top__card:hover::after{
	width: 440px;
}
/*Секция 3*/
.explore {
	display: flex;
	height: 865px;
	justify-content: center;
	padding-top: 75px;
	align-items: center;
	background-color:#000;
}

.explore__section {
	display: flex;
	height: 715px;
	align-items: flex-start;
	justify-content: flex-start;
}

.explore__content {
	height: 715px;
	width: 660px;
	margin-right: 60px;
	color: #fff;
}

.explore__content .explore__title{
	display: flex;
	flex-direction: row;
	font-size: 80px;
	letter-spacing: 5px;
	font-family: 'Forum', serif;
	line-height: 90px;
	font-weight: 200;
	margin-top: 0px;
	text-transform: uppercase;
}

.after_explore__title {
	margin-top:25px;
	margin-bottom:75px;

}
.explore__content  p {
	margin-top: 25px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	line-height: 38px;
	font-size: 22px;
}

.explore__content span {
	color: #9D8665;
}

.explore__section  img {
	height: 700px;
	width: 720px;
	margin-top: 15px;
	
}
/*четвёртая секция*/
